<header class="d-flex align-ite">
    <div class="col-10">
        <h1>Book Notes</h1>
    </div>
    <div class="col-2">
        <a href="/new" class="btn "></a>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new">
            New
        </button>
    </div>
</header>
<%- include('./new.ejs') %>